.filters {
	align-items: center;
	color: #fff;
	padding: 0 3rem;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	span {
		font-size: 0.8rem;
	}

	.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
		color: #fff;
	}

	@media (min-width: 1230px) {
		flex-direction: row;
		padding: 0 7.5rem;
	}
}

.sliders {
	display: flex;
	flex-direction: column;
	padding: 2rem 0;
	width: 100%;

	@media (min-width: 1000px) {
		flex-direction: row;
		padding: 0;
		width: auto;
	}
}

.slider {
	width: 100%;

	@media (min-width: 1000px) {
		width: 300px;
		padding: 0 0 0 4rem;
	}
}
