.filters {
	color: #fff;
	padding: 0 5.5rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	span {
		font-size: 0.8rem;
	}

	.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
		color: #fff;
	}
}

.slider {
	width: 250px;
}
