.section {
	color: rgba(255,255,255,.9);
	font-size: 14px;
	line-height: 1.75;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 2rem 1rem;

	p {
		margin-bottom: 1.5rem;
	}

	&:last-child {
		padding-bottom: 5rem;
	}

	@media (min-width: 650px) {
		padding: 0 2rem;
	}
}

.wrapper {
	max-width: 500px;
}