.section {
	color: rgba(255,255,255,.9);
	font-size: 14px;
	line-height: 1.75;
	order: 2;
	padding: 0 2rem 4rem;
	width: 100%;

	p {
		margin-bottom: 1.5rem;
	}

	&:last-child {
		padding-bottom: 5rem;
	}

	@media (min-width: 800px) {
		order: 1;
		max-width: 500px;
	}
}

.wrapper {
	@media (min-width: 800px) {
		max-width: 500px;
	}
}