.container {
	padding: 0 2rem 2rem;

	@media (min-width: 650px) {
		padding: 2rem 5rem;
	}
}

.heading {
	color: #fff;
	margin: 0.5rem 0.5rem 0;
}

.list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.img {
	display: block;
	width: 45%;
	height: 0;
	padding-bottom: 45%;

	background-size: cover;
	background-position: center;
	background-repeat: none;
	border: 3px solid transparent;
	border-radius: 5px;
	margin: 0.5rem;
	transition: 0.2s ease-in-out;
	position: relative;

	&:hover {
		border: 2px solid #fff;
		cursor: pointer;
	}

	@media (min-width: 650px) {
		width: 22%;
		padding-bottom: 22%;
	}

	@media (min-width: 1000px) {
		width: 18%;
		padding-bottom: 18%;
	}
}

.own {
	background: #000;
	color: #fff;
	font-size: 0.6rem;
	padding: 0.5rem;
	position: absolute;
	bottom: 2rem;
	left: -3px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

.wishlist {
	background: #e50914;
	color: #fff;
	font-size: 0.6rem;
	padding: 0.5rem;
	position: absolute;
	bottom: 2rem;
	left: -3px;
	text-transform: uppercase;
	letter-spacing: 1px;
}
