*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	box-sizing: border-box;
}

html,
body {
	background: #202020;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
	width: 100%;
}

a {
	text-decoration: none;
}

.bg-home 									{ background-image: url("/hero/home.jpeg"); }
.bg-7-wonders 						{ background-image: url("/hero/7-wonders.jpeg"); }
.bg-awkward-guests 				{ background-image: url("/hero/awkward-guests.webp"); }
.bg-barenpark 						{ background-image: url("/hero/barenpark.jpeg"); }
.bg-barenpark-bad-news-bears 	{ background-image: url("/hero/barenpark-bad-news-bears.webp"); }
.bg-battleship 						{ background-image: url("/hero/battleship.webp"); }
.bg-brew-crafters 				{ background-image: url("/hero/brewcrafters.jpeg"); }
.bg-clue 									{ background-image: url("/hero/clue.jpeg"); }
.bg-catan 								{ background-image: url("/hero/catan.jpg"); }
.bg-clue-disney 					{ background-image: url("/hero/clue-disney.webp"); }
.bg-dinosaur-world 				{ background-image: url("/hero/dinosaur-world.webp"); }
.bg-dinosaur-world-hybrid	{ background-image: url("/hero/dinosaur-world-hybrid.webp"); }
.bg-dinosaur-world-water	{ background-image: url("/hero/dinosaur-world-water.webp"); }
.bg-dinosaur-world-ice-age	{ background-image: url("/hero/dinosaur-world-ice-age.webp"); }
.bg-dixit 								{ background-image: url("/hero/dixit.jpeg"); }
.bg-dog-park 							{ background-image: url("/hero/dog-park.webp"); }
.bg-evolution-climate			{ background-image: url("/hero/evolution-climate.png"); }
.bg-life									{ background-image: url("/hero/life.webp"); }
.bg-monopoly-disney				{ background-image: url("/hero/monopoly-disney.jpeg"); }
.bg-obsession 						{ background-image: url("/hero/obsession.jpeg"); }
.bg-obsession-upstairs-downstairs	{ background-image: url("/hero/obsession-upstairs-downstairs.webp"); }
.bg-outlive 							{ background-image: url("/hero/outlive.png"); }
.bg-pan-am 								{ background-image: url("/hero/panam.jpeg"); }
.bg-parks									{ background-image: url("/hero/parks.jpeg"); }
.bg-parks-nightfall				{ background-image: url("/hero/parks-nightfall.jpeg"); }
.bg-pictionary						{ background-image: url("/hero/pictionary.jpeg"); }
.bg-risk									{ background-image: url("/hero/risk.jpeg"); }
.bg-risk-game-of-thrones	{ background-image: url("/hero/risk-game-of-thrones.jpeg"); }
.bg-santa-monica 					{ background-image: url("/hero/santa-monica.png"); }
.bg-scrabble 							{ background-image: url("/hero/scrabble.jpeg"); }
.bg-scene-it-friends 			{ background-image: url("/hero/scene-it-friends.jpeg"); }
.bg-scene-it-disney 			{ background-image: url("/hero/scene-it-disney.webp"); }
.bg-spy-web	 							{ background-image: url("/hero/spy-web.webp"); }
.bg-sushi-go 							{ background-image: url("/hero/sushi-go.jpeg"); }
.bg-trickerion 						{ background-image: url("/hero/trickerion.jpeg"); }
.bg-trickerion-dahlgaards-academy { background-image: url("/hero/trickerion-dahlgaards-academy.jpeg"); }
.bg-trickerion-dawn-of-technology { background-image: url("/hero/trickerion-dawn-of-technology.jpeg"); }
.bg-viticulture 					{ background-image: url("/hero/viticulture.jpeg"); }
.bg-viticulture-tuscany		{ background-image: url("/hero/viticulture-tuscany.jpeg"); }
.bg-wingspan 							{ background-image: url("/hero/wingspan.jpeg"); }
.bg-wingspan-oceania			{ background-image: url("/hero/wingspan-oceania.webp"); }
.bg-wingspan-european			{ background-image: url("/hero/wingspan-european.jpeg"); }

.avatar-home 							{ background-image: url("/hero/home.webp"); }
.avatar-7-wonders 				{ background-image: url("/avatar/7-wonders.webp"); }
.avatar-awkward-guests 		{ background-image: url("/avatar/awkward-guests.webp"); }
.avatar-barenpark 				{ background-image: url("/avatar/barenpark.webp"); }
.avatar-barenpark-bad-news-bears { background-image: url("/avatar/barenpark-bad-news-bears.webp"); }
.avatar-battleship 				{ background-image: url("/avatar/battleship.webp"); }
.avatar-brew-crafters 		{ background-image: url("/avatar/brewcrafters.webp"); }
.avatar-catan 						{ background-image: url("/avatar/catan.webp"); }
.avatar-clue 							{ background-image: url("/avatar/clue.webp"); }
.avatar-clue-disney 			{ background-image: url("/avatar/clue-disney.webp"); }
.avatar-dinosaur-world 		{ background-image: url("/avatar/dinosaur-world.webp"); }
.avatar-dinosaur-world-hybrid { background-image: url("/avatar/dinosaur-world-hybrid.webp"); }
.avatar-dinosaur-world-water { background-image: url("/avatar/dinosaur-world-water.webp"); }
.avatar-dinosaur-world-ice-age	{ background-image: url("/avatar/dinosaur-world-ice-age.webp"); }
.avatar-dixit 						{ background-image: url("/avatar/dixit.webp"); }
.avatar-dog-park 					{ background-image: url("/avatar/dog-park.webp"); }
.avatar-evolution-climate	{ background-image: url("/avatar/evolution-climate.webp"); }
.avatar-life							{ background-image: url("/avatar/life.webp"); }
.avatar-monopoly-disney		{ background-image: url("/avatar/monopoly-disney.webp"); }
.avatar-obsession 				{ background-image: url("/avatar/obsession.webp"); }
.avatar-obsession-upstairs-downstairs { background-image: url("/avatar/obsession-upstairs-downstairs.webp"); }
.avatar-outlive 					{ background-image: url("/avatar/outlive.webp"); }
.avatar-pan-am 						{ background-image: url("/avatar/pan-am.webp"); }
.avatar-parks							{ background-image: url("/avatar/parks.webp"); }
.avatar-parks-nightfall		{ background-image: url("/avatar/parks-nightfall.webp"); }
.avatar-pictionary				{ background-image: url("/avatar/pictionary.webp"); }
.avatar-risk							{ background-image: url("/avatar/risk.webp"); }
.avatar-risk-game-of-thrones { background-image: url("/avatar/risk-game-of-thrones.webp"); }
.avatar-santa-monica 			{ background-image: url("/avatar/santa-monica.webp"); }
.avatar-scrabble 					{ background-image: url("/avatar/scrabble.webp"); }
.avatar-scene-it-disney 	{ background-image: url("/avatar/scene-it-disney.webp"); }
.avatar-scene-it-friends 	{ background-image: url("/avatar/scene-it-friends.webp"); }
.avatar-spy-web	 					{ background-image: url("/avatar/spy-web.webp"); }
.avatar-sushi-go 					{ background-image: url("/avatar/sushi-go.webp"); }
.avatar-trickerion 				{ background-image: url("/avatar/trickerion.webp"); }
.avatar-trickerion-dahlgaards-academy	{ background-image: url("/avatar/trickerion-dahlgaards-academy.webp"); }
.avatar-trickerion-dawn-of-technology	{ background-image: url("/avatar/trickerion-dawn-of-technology.webp"); }
.avatar-viticulture 			{ background-image: url("/avatar/viticulture.webp"); }
.avatar-viticulture-tuscany	{ background-image: url("/avatar/viticulture-tuscany.webp"); }
.avatar-wingspan 					{ background-image: url("/avatar/wingspan.webp"); }
.avatar-wingspan-oceania	{ background-image: url("/avatar/wingspan-oceania.webp"); }
.avatar-wingspan-european	{ background-image: url("/avatar/wingspan-european.webp"); }